<footer class="footer">
		<small>
			<a href="http://www.lastminutetranslations.com/">Last Minute Translations</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to t(:about), '#' %></li>
				<li><%= link_to t(:contact), '#' %></li>
				<li><%= link_to t(:contribute), '#' %></li>
			</ul>
		</nav>
</footer>