<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">
					last minute translations
					</a>
					
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to t(:home), root_path %></li>
						<li><%= link_to t(:upload), '#' %></li>
						<li><%= link_to t(:signin), signin_path %></li>
					</ul>
				</nav>
			</div>
		</div>
		
</header>